fastapi
uvicorn[standard]
gunicorn
sqlalchemy
alembic
pydantic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
psycopg2-binary
python-dotenv
email-validator